<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task 3</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/index.css" />
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-components">
                <a href="/" class="header-logo">
                    <img src="../images/logo.png" alt="Maslamani" width="158" height="62" />
                </a>
                <nav>
                    <ul class="main-menu list-plain">
                        <li><a href="" class="item">About Us</a></li>
                        <li><a href="" class="item">Our Services</a></li>
                        <li><a href="../../src/views/brands.html" class="item">Brands</a></li>
                        <li><a href="" class="item">Companies</a></li>
                        <li><a href="" class="item">Leaders</a></li>
                        <li><a href="" class="item">Contact Us</a></li>
                    </ul>
                </nav>
                <ul class="toolbar-menu list-plain">
                    <li>
                        <a href="" title="Search" class="item"><i class="fa fa-search"></i></a>
                    </li>
                    <li>
                        <a href="" title="Arabic" class="item">ar</a>
                    </li>
                    <li>
                        <a href="" title="Search" class="item highlited"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="inner-page">
            <div class="inner-header">
                <h1 class="inner-header-title">Brands</h1>
            </div>
            <div class="inner-body">
                <div class="container">
                    <div class="inner-body-content">
                    <div class="section">
                        <div class="section-sub-title">Global Brands</div>
                        <div class="row">
                            <div class="col-custom-5">
                                <div class="brand">
                                    <div class="brand-img">
                                        <img src="../images/Danette_(1) 1.png" alt="brand img">
                                    </div>
                                </div>
                            </div>
                            <div class="col-custom-5">
                                <div class="brand">
                                    <div class="brand-img">
                                        <img src="../images/Danette_ac1.png" alt="brand img">
                                    </div>
                                </div>
                            </div>
                            <div class="col-custom-5">
                                <div class="brand">
                                    <div class="brand-img">
                                        <img src="../images/danao1.png" alt="brand img">
                                    </div>
                                </div>
                            </div>
                            <div class="col-custom-5">
                                <div class="brand">
                                    <div class="brand-img">
                                        <img src="../images/safio.png" alt="brand img">
                                    </div>
                                </div>
                            </div>
                            <div class="col-custom-5">
                                <div class="brand">
                                    <div class="brand-img">
                                        <img src="../images/safi.png" alt="brand img">
                                    </div>
                                </div>
                            </div>
                            <div class="col-custom-5">
                                <div class="brand">
                                    <div class="brand-img">
                                        <img src="../images/acti.png" alt="brand img">
                                    </div>
                                </div>
                            </div>
                            <div class="col-custom-5">
                                <div class="brand">
                                    <div class="brand-img">
                                        <img src="../images/ival.png" alt="brand img">
                                    </div>
                                </div>
                            </div>
                            <div class="col-custom-5">
                                <div class="brand">
                                    <div class="brand-img">
                                        <img src="../images/oska.png" alt="brand img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section-sub-title">Our Factory</div>
                        <div class="row">
                            <div class="col-custom-5">
                                <div class="brand">
                                    <div class="brand-img">
                                        <img src="../images/Danette_(1) 1.png" alt="brand img">
                                    </div>
                                </div>
                            </div>
                            <div class="col-custom-5">
                                <div class="brand">
                                    <div class="brand-img">
                                        <img src="../images/Danette_ac1.png" alt="brand img">
                                    </div>
                                </div>
                            </div>
                            <div class="col-custom-5">
                                <div class="brand">
                                    <div class="brand-img">
                                        <img src="../images/danao1.png" alt="brand img">
                                    </div>
                                </div>
                            </div>
                            <div class="col-custom-5">
                                <div class="brand">
                                    <div class="brand-img">
                                        <img src="../images/safio.png" alt="brand img">
                                    </div>
                                </div>
                            </div>
                            <div class="col-custom-5">
                                <div class="brand">
                                    <div class="brand-img">
                                        <img src="../images/safi.png" alt="brand img">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </main>
    <footer class="footer">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-4">
                    <div class="footer-item">
                        <div class="footer-item-title">About Us</div>
                        <div class="footer-item-content">
                            <div class="footer-desc">
                                Building isn’t just a job. At the Construction Company, it
                                is our passion. With every project we undertake, we set
                                the bar high and provide the best people in the industry,
                                with a true love of what we do to make our Customers’
                                vision a reality.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-item">
                        <div class="footer-item-title">Company links</div>
                        <div class="footer-item-content">
                            <ul class="footer-list list-plain">
                                <li><a href="" class="item">About Us</a></li>
                                <li><a href="" class="item">Our Services</a></li>
                                <li><a href="" class="item">Brands</a></li>
                                <li><a href="" class="item">Companies</a></li>
                                <li><a href="" class="item">Leaders</a></li>
                                <li><a href="" class="item">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-item">
                        <div class="footer-item-title">Contact info</div>
                        <div class="footer-item-content">
                            <ul class="footer-list list-plain">
                                <li><a href="" class="item">Address:1379 Shoreline Parkway, Mountain View, CA
                                        94043, United States</a></li>
                                <li><a href="" class="item">Phone:+1 718-999-3939</a></li>
                                <li><a href="" class="item">E-mail:contact@construction.com</a></li>
                            </ul>
                            <ul class="social-list list-plain mt-20">
                                <li>
                                    <a href="" class="item"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="" class="item"><i class="fa-brands fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="" class="item"><i class="fa-brands fa-x-twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="sub-footer">
                <div class="copyright">
                    All Rights Reserved @ 2023
                </div>
                <div class="copyright">
                    All Rights Reserved @ 2023
                </div>
            </div>
        </div>



        </div>
        </div>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="../js/index.js" type="module"></script>
</body>

</html>